<div class="container--card">
  <div class="card--img-wrapper">
    <img
      src="{{ currentCard.image }}"
      alt="{{ currentCard.title }}"
      class="card--img"
    />
  </div>
  <div class="container--card--content">
    <h3 class="card--author">{{ currentCard.author }}</h3>
    <p class="card--publish--date">
      {{ currentCard.publish_date | date : "dd.MM.yyyy" }}
    </p>
    <h2 class="card--title">{{ currentCard.title }}</h2>
    <div class="card--category--container">
      <span
        class="card--category"
        *ngFor="let category of currentCard.categories"
        [ngStyle]="{
          color: category.text_color,
          'background-color': category.background_color
        }"
        >{{ category.name }}</span
      >
    </div>
    <p class="card--description">{{ currentCard.description }}</p>
    <a class="card--see--fully" [routerLink]="'/Home/' + currentCard.id"
      >სრულად ნახვა
      <span class="card--see--fully--span"
        ><img
          class="card--see--fully--img"
          src="../../../assets/arrow-see--fully.png"
          alt="arrow up" /></span
    ></a>
  </div>
</div>
