<form [formGroup]="blogCreateForm" (ngSubmit)="createBlog()">
  {{ checkForError("author", "minlength") }} -
  {{ checkForError("author", "required") ?? false }}
  {{
    checkForError("author", "minLength") || checkForError("author", "required")
  }}
  <div
    class="image-upload-container"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <p class="upload--title">ატვირთეთ ფოტო</p>
    <label *ngIf="!image" class="image-upload-input" for="img--input">
      <div class="input--img--wrapper">
        <img src="../../../assets/folder-add.png" alt="folder" />
      </div>
      <p class="input--upload--text">
        ჩააგდეთ ფაილი აქ ან <span>აირჩიეთ ფაილი</span>
      </p>
    </label>
    <input
      class="image-upload-input--hidden"
      formControlName="image"
      id="img--input"
      type="file"
      (change)="onFileSelected($event)"
    />
    <div *ngIf="image" class="img--uploaded--placeholder">
      <div class="placeholder--wrapper">
        <img src="../../../assets/gallery--preview.png" alt="Uploaded Image" />
        <span class="img--name">{{ imageName }}</span>
      </div>
      <span class="close--btn" (click)="removeImage()">X</span>
    </div>
    <div class="title" *ngIf="title">{{ title }}</div>
  </div>
  <div class="author--title--wrapper">
    <div class="form--author container--width">
      <label for="author--inp">ავტორი *</label>
      <input
        appHighlight
        [bg]="true"
        [red]="checkForInvalid('author') ?? false"
        formControlName="author"
        id="author--inp"
        placeholder="შეიყვნეთ ავტორი"
        type="text"
        class="author--input"
      />
      <p
        [style.color]="redOrGreenColor('author', 'minlength')"
        class="validation--1"
      >
        <span
          [style.backgroundColor]="redOrGreenColor('author', 'minlength')"
          class="dot"
        ></span
        >მინიმუმ 4 სიმბოლო
      </p>
      <p
        [style.color]="redOrGreenColor('author', 'minTwoWords')"
        class="validation--2"
      >
        <span
          [style.backgroundColor]="redOrGreenColor('author', 'minTwoWords')"
          class="dot"
        ></span
        >მინიმუმ ორი სიტყვა
      </p>
      <p
        [style.color]="redOrGreenColor('author', 'georgianSymbols')"
        class="validation--3"
      >
        <span
          [style.backgroundColor]="redOrGreenColor('author', 'georgianSymbols')"
          class="dot"
        ></span
        >მხოლოდ ქართული სიმბოლოები
      </p>
    </div>
    <div class="form--title container--width">
      <label for="title--inp">სათური *</label>
      <input
        appHighlight
        [bg]="true"
        [red]="checkForInvalid('title') ?? false"
        formControlName="title"
        id="title--inp"
        placeholder="შეიყვნეთ სათაური"
        type="text"
        class="title--input"
      />
      <p
        class="validation--1"
        [style.color]="redOrGreenColor('title', 'minlength')"
      >
        <span
          [style.backgroundColor]="redOrGreenColor('title', 'minlength')"
          class="dot"
        ></span
        >მინიმუმ 2 სიმბოლო
      </p>
    </div>
  </div>
  <div class="description--wrapper">
    <label class="desc--from--label" for="desc--from">აღწერა *</label>
    <textarea
      appHighlight
      [bg]="true"
      [red]="checkForInvalid('description') ?? false"
      formControlName="description"
      class="form-txt-area"
      id="desc--from"
      name=""
      cols="30"
      rows="10"
      placeholder="შეიყვნანეთ აღწერა"
    ></textarea>
    <p [style.color]="redOrGreenColor('description', 'minlength')">
      <span
        class="dot"
        [style.backgroundColor]="redOrGreenColor('description', 'minlength')"
      ></span
      >მინიმუმ 4 სიმბოლო
    </p>
  </div>
  <div class="date--category--wrapper">
    <div class="date-form container--width">
      <label for="date-input">გამოქვეყნების თარიღი *</label>
      <mat-form-field
        appHighlight
        [bg]="true"
        [red]="checkForInvalid('submitDate') ?? false"
        class="example-full-width"
      >
        <mat-label>Choose a date</mat-label>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon
            ><img src="../../../assets/calendar.png" alt=""
          /></mat-icon>
        </mat-datepicker-toggle>
        <input
          id="date-input"
          formControlName="submitDate"
          style="padding-left: 30px"
          matInput
          [matDatepicker]="picker"
        />
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="category-form container--width">
      <h3 class="label--categories" (click)="onOpenSelect()">კატეგორია *</h3>
      <div
        appHighlight
        [bg]="true"
        [red]="checkForInvalid('categories') ?? false"
        (click)="onOpenSelect()"
        class="selected--categories"
      >
        <div class="palceholder">
          <div class="selected--categories--img--wrapper">
            <img
              [class.rotate]="isRotated"
              src="../../../assets/arrow--down.png"
              alt="arrow"
              class="selected--categories--img"
            />
          </div>
        </div>
      </div>
      <div #categoriesList class="container-categories disNone">
        <ul class="categories" (click)="onAddCategory($event)">
          <li
            class="category--list--item"
            *ngFor="let item of mockData"
            [style.backgroundColor]="item.background_color"
            [style.color]="item.text_color"
            [attr.data-id]="item.id"
          >
            {{ item.title }}
          </li>
        </ul>
      </div>
      <input
        style="display: none"
        formControlName="category"
        type="text"
        name=""
        id="category-input"
      />
    </div>
  </div>
  <div class="email-form container--width">
    <label for="email-input">ელ-ფოსტა</label>
    <input
      formControlName="email"
      placeholder="Example@redbery.ge"
      type="email"
      name=""
      id="email-input"
    />
  </div>
  <div class="container--btn">
    <button
      [disabled]="!blogCreateForm.valid"
      [style.backgroundColor]="blogCreateForm.valid ? '#5d37f3' : 'white'"
      class="submit--btn"
      type="submit"
    >
      გამოქვეყნება
    </button>
  </div>
</form>
